*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

img {
  display: block;
  height: auto;
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

:root {
  --main-color: #757575;
  --secondary-color: #212121;
  --background-color: #fff;
}

.header {
  background-color: var(--background-color);
  border-bottom: #fff;
  border-bottom: 1px solid #ececec;
  display: flex;
}

.header .container {
  display: flex;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.logo--blue {
  color: #2196f3;
}

.logo--black {
  color: var(--secondary-color);
}

.navigation {
  display: flex;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
}

.menu__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.menu__link:hover {
  color: #2196f3;
}

.menu__link:focus {
  color: #2196f3;
}

.menu__link.current::after {
  content: "";
  width: 100%;
  height: 4px;
  display: block;
  bottom: -1px;
  position: absolute;
  border-radius: 2px;
  left: 0;
  background-color: #2196f3;
}

.menu__link.current {
  color: #2196f3;
  position: relative;
}

.menu__item:not(:last-child) {
  margin-right: 50px;
}

.contact {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact__item {
  fill: #757575;
}

.contact__item:hover {
  fill: #2196f3;
}

.contact__item:not(:last-child) {
  margin-right: 50px;
}

.contact-button-email-icon {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contact-button-phone-icon {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.contact__link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-color);
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-flex;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact__link:hover {
  color: #2196f3;
}

.contact__link:focus {
  color: #2196f3;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  padding-bottom: 50px;
}

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  background: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/image12-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero__title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--background-color);
  max-width: 650px;
  margin: 0 auto;
}

.hero__button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2196f3;
  color: var(--background-color);
  padding: 10px 32px;
  cursor: pointer;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero__button:hover {
  background-color: #188ce8;
}

.hero__button:focus {
  background-color: #188ce8;
}

.hero-two {
  padding-top: 94px;
  padding-bottom: 94px;
}

.hero-menu__item:not(:last-child) {
  margin-right: 30px;
}

.hero-menu__button {
  content: "";
  width: 270px;
  height: 120px;
  display: flex;
  background-color: #f5f4fa;
  margin-bottom: 30px;
  border-radius: 4px;
  background-size: contain;
  align-items: center;
  justify-content: center;
}

.hero-menu__button-icon {
  width: 70px;
  height: 70px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hero-menu__item-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.hero-menu__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.employment {
  padding-bottom: 94px;
  padding-top: 0px;
}

.employment-menu__img-text-container {
  position: relative;
}

.employment-menu__img-text {
  width: 370px;
  height: 70px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  position: absolute;
  bottom: 0;
  background-color: rgba(47, 48, 58, 0.8);
  padding: 27px 82px;
  color: var(--background-color);
}

.employment-menu__item {
  background: var(--background-color);
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
}

.personnel {
  padding-top: 94px;
  padding-bottom: 94px;
  background: #f5f4fa;
}

.personnel-menu__item {
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  background-color: var(--background-color);
}

.personnel-container {
  padding-top: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
}

.personnel-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
  margin-bottom: 10px;
}

.personnel-profession {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

.personnel-button-menu {
  display: flex;
  list-style: none;
  margin-left: 32px;
  margin-right: 32px;
  margin-top: 16px;
}

.button-personnel {
  width: 44px;
  height: 44px;
  background-color: var(--background-color);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-personnel:hover {
  background-color: #2196f3;
  fill: var(--background-color);
}

.button-personnel__icon {
  width: 20px;
  height: 20px;
}

.personnel-button-menu :not(:last-child) {
  margin-right: 10px;
}

.regular-customers {
  padding-top: 94px;
  padding-bottom: 94px;
}

.regular-customers-menu {
  display: flex;
  margin: 0 auto;
}

.regular-customers-menu__item:not(:last-child) {
  margin-right: 30px;
}

.regular-customers-button {
  background-color: var(--background-color);
  fill: #afb1b8;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  content: "";
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.regular-customers-button:hover {
  border: 1px solid #2196f3;
  fill: #2196f3;
}

.regular-customers-button__icon-1 {
  width: 41px;
  height: 46, 7px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.regular-customers-button__icon-2 {
  width: 40px;
  height: 52px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.regular-customers-button__icon-3 {
  width: 43.46px;
  height: 41.18px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.regular-customers-button__icon-4 {
  width: 84.44px;
  height: 40.62px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.regular-customers-button__icon-5 {
  width: 62.54px;
  height: 45.43px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.regular-customers-button__icon-6 {
  width: 93.79px;
  height: 43.93px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.footer {
  background: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  display: flex;
}

.logo--white {
  color: #fff;
}

.footer-menu-adress {
  margin-top: 20px;
}

.footer-menu-adress__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer-menu-adress__item {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #fff;
}

.footer-menu-adress__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--background-color);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-adress__link:hover {
  color: #2196f3;
}

.footer-menu-adress__link:focus {
  color: #2196f3;
}

.footer-menu-adress__link-two {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-menu-adress__link-two:hover {
  color: #2196f3;
}

.footer-menu-adress__link-two:focus {
  color: #2196f3;
}

.social-networks {
  margin-left: 70px;
}

.social-networks__button-menu {
  display: flex;
}

.social-networks__text {
  margin-bottom: 20px;
  color: var(--background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.social-networks__button {
  width: 44px;
  height: 44px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fill: var(--background-color);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-networks__button:hover {
  background-color: #2196f3;
  fill: var(--background-color);
}

.social-networks__button:focus {
  background-color: #2196f3;
  fill: var(--background-color);
}

.social-networks__icon:not(:last-child) {
  margin-right: 10px;
}

.social-networks__button-icon {
  width: 20px;
  height: 20px;
}

.footer-input-container {
  margin-left: 93px;
}

.footer-input-container__text {
  margin-bottom: 20px;
  color: var(--background-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.footer-input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px;
  background: #2f303a;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input-container__btn {
  width: 200px;
  height: 50px;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  margin-left: 12px;
  display: inline-flex;
  justify-content: center;
}

.footer-input-container__icon-send {
  margin-left: 10px;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}

.backdrop-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  visibility: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  width: 528px;
  position: absolute;
  background: var(--background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
}

.modal-btn {
  width: 30px;
  height: 30px;
  background-color: var(--background-color);
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  fill: #afb1b8;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 8px;
  right: 8px;
}

.modal-btn__icon {
  width: 11px;
  height: 11px;
  fill: var(--secondary-color);
}

.modal-btn__icon :hover {
  fill: #2196f3;
}

.modal__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: #212121;
}

.input-modal {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  outline: none;
}

.input-modal:focus {
  border-color: #2196f3;
}

.modal-input-wrap__icon {
  position: absolute;
  top: 50%;
  left: 15px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: #212121;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
}

.input-modal:focus + .modal-input-wrap__icon {
  fill: #2196f3;
}

.modal-input-wrap-lable {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-field {
  margin-bottom: 10px;
}

.modal-input-wrap {
  position: relative;
}

.modal-text-area {
  width: 100%;
  height: 96px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  margin-top: 4px;
  color: rgba(117, 117, 117, 0.5);
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  margin-bottom: 20px;
}

.input-checbox {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  justify-content: center;
  align-items: center;
}

.input-checbox-two {
  color: #2196f3;
  text-decoration: underline;
  margin-left: 5px;
}

.input-text {
  font-size: 14px;
  color: #555555;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.input-text::before {
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 3px;
  display: block;
  margin-right: 9px;
}

.input-checbox:checked + .input-text::before {
  background-color: #2196f3;
  border: none;
  background-image: url(../images/Vector-9.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.input-container {
  display: flex;
  justify-content: center;
}

.button-input {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 200px;
  height: 50px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  color: #ffffff;
}

.button-input:hover {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.main-portfolio {
  padding-top: 94px;
  padding-bottom: 50px;
  margin: 0 auto;
}

.main-portfolio__button-menu {
  display: flex;
  justify-content: center;
}

.main-portfolio__button-item:not(:last-child) {
  margin-right: 8px;
}

.main-portfolio__button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  padding: 6px 22px;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-portfolio__button:hover {
  background-color: #2196f3;
  color: var(--background-color);
}

.main-portfolio__button:focus {
  background-color: #2196f3;
  color: var(--background-color);
}

.main-portfolio__button.current {
  background-color: #2196f3;
  color: var(--background-color);
}

.work {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.work-menu {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
  padding-bottom: 94px;
}

.work-menu__item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}

.work-menu__item:hover {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-menu__item:focus {
  box-sizing: border-box;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.work-img-container {
  position: relative;
  overflow: hidden;
}

.work-information {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.work-img-container__text {
  position: absolute;
  top: 0;
  background: rgba(33, 150, 243, 0.9);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.03em;
  padding: 63px 24px;
  color: #ffffff;
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.work-menu__item:hover .work-img-container__text {
  transform: translateY(0%);
}

.work-information__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--secondary-color);
  margin-bottom: 4px;
}

.work-information__text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--main-color);
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
}

.menu {
  display: flex;
  align-items: center;
  margin-left: 93px;
}

.hero-menu {
  display: flex;
  margin: 0 auto;
}

.employment-menu {
  display: flex;
  margin-left: -30px;
}

.personnel-menu {
  display: flex;
  margin-left: -30px;
}
/*# sourceMappingURL=main.css.map */